
<section class="home-page">
  <div class="hero-card">

    <div class="hero-top">
      <div class="hero-text">
        <h1>
          Empowering Future

          <span>Leaders Globally</span>
        </h1>

        <p>
          Courses, project support, tutoring, career services,
          and smart learning tools for university students.
        </p>

        <div class="hero-actions">
          <a class="main-btn" routerLink="/servicess">
  Explore Services
  <span class="arrow">➜</span>
</a>
          <a class="outline-btn"  href="https://form.jotform.com/260413864691057?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAdGRleASeG1JleHRuA2FlbQIxMQBzcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAaf7Fe914R_pf_nZ_agsS_tOyPunbEBHjwQ3nYXbXrdW0M7cKeqBx03pDh9mMA_aem_YWdncwBPG3f2Tbq1SEkUIbEXPooY&brid=YWdncwEdYzbj8JXIGMRJ2kXYXRaT">Book a Session<span class="arrow">➜</span></a>

        </div>
      </div>

      <div class="hero-image">
        <img src="images/home.jpeg" alt="ProdigiMind students">
      </div>
    </div>

    <div class="stats">
      <div class="stat-card">
        <h3>1000+</h3>
        <p>students supported</p>
      </div>

      <div class="stat-card">
        <h3>40+</h3>
        <p>expert tutors</p>
      </div>

      <div class="stat-card">
        <h3>95%</h3>
        <p>success rate</p>
      </div>

      <div class="stat-card">
        <h3>50+</h3>
        <p>completed projects</p>
      </div>
    </div>

  </div>
</section>
